.button {
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  font-family: "Stardew";
  background-color: rgb(243, 181, 109);
  cursor: pointer;
  transition: 0.6s;
  outline: 0.3rem solid rgb(214, 94, 14);
  border: none;
}

.start {
  font-size: 4rem;
}

.start:hover {
  background: rgb(248, 177, 71);
}

.retry-btn {
  align-self: flex-end;
  margin: 1.2rem;
  position: absolute;
  padding: 0.6rem;
  padding-bottom: 0.4rem;
  background-color: rgba(240, 240, 240, 0.2);
  border: 1px solid #dfdfdf;
  outline: none;
}
.retry-btn:hover {
    background-color: rgba(240, 240, 240, 0.8);
}

.button svg {
  height: 1.5rem;
  width: 2rem;
}
