.wordRandomContainer {
  margin: 40px;
  max-width: 100%;
  text-align: center;
}

.word-random {
  margin: 3px;
  min-height: 30px;
  min-width: 30px;
  background-color: rgb(170, 129, 15);
  display: inline-block;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  box-sizing: border-box;
  color: #000000;
  font-family: "Stardew", Inter, sans-serif;
  font-size: 30px;
  line-height: 28px;
  padding: 14px 22px;
  text-align: center;
}
