@font-face {
  font-family: "Stardew";
  src: url("./assets/fonts/Stardew_Valley.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Stardew";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: gray;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}